@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

span{
    color: rgb(239, 219, 255);
    font-weight: 700;
    font-size: 21px;
}


body, html{
    height: 100%;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.bg-img{
    background-image: url(social-media-5187243.png);
    
    filter: blur(8px);
    -webkit-filter: blur(3px);
    
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    
    margin: auto;
    height: 350px;
    padding: 20px;

    font-weight: 700;
    text-align: end;

    background-color: rgba(62, 26, 98, 0.45);  
    border: 3px solid #997de6;
    border-radius: 3px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
}

.display{
    
    height: 50px;
    display: flex;    

    width: 373px;

    position: relative;
    left: 20%;
    top: 95px;

    align-items: center;
    align-content: center;    
    
    background-color: rgba(48, 7, 87, 0.84);
    border: 3px solid rgba(48, 7, 87, 0.84);
    border-radius: 2px;
}

.result-text{
    margin: 0px;
    width: 200px;
    height: 50px;
    
    text-align: center;
    position: relative;
    left: 10px;
    top: 6px;
    
}

.result-text-span{
    font-size: 25px;   
}

.result{
    text-align: center;
    width: 104px;
    height: 47px;

    color:rgb(239, 219, 255);
    
    margin-top: 0px;
    margin-left: 2px;
    padding: 0;    
    

    position: relative;
    bottom: 0px;
    left: 40px;
    font-size: 30px;   
}

.row{
    margin-top: 3.5px;    
    background-color: rgba(48, 7, 87, 0.84);
    border-radius: 3px;
}

.mb-3 {
    margin-bottom:1rem!important;
    border: 1px solid rgb(61, 57, 126);
}
   

.col-sm-10{
    width: 426px;

    padding-top: 4px;
    padding-bottom: 3px;
}

.form-control{
    width: 70%;
    text-align: center;
}

.text-col{
    width: 200px;
    margin: 10px;
    text-align: left;
}




#entry_time{
    margin-top: 4px;

    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 5px;
    border: none;
    
    background-color: rgba(224, 206, 242, 0.83);
}

#leaving_time {
    margin-top: 4px;

    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 5px;
    border: none;

    background-color: rgba(224, 206, 242, 0.83);
}